.dropzone {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;

}

/* cellule class="employee-cell" 
height = hauteur
width = largeur
*/

.employee-cell {
    min-height: 100px;
    min-width: 100px;

}